/* IMPORTS */
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700italic,300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);

/* VARS */
body {
  background-color: #b6b6b6;
}

.container {
  background-color: #f7f7f7;
  width: 50%;
  margin: 10% auto 0;
  padding: 25px;
  font-family: "Merriweather", sans-serif;
  box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.75);
}

.container .quote-box {
  margin-bottom: 10px;
  padding: 10px;
  color: #b6b6b6;
}

.container .quote-box #quote {
  padding: 10px 10px 10px 25px;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.3;
}

.container .quote-box #author {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 300;
  text-align: right;
  letter-spacing: 0.75px;
}

.container .button-box {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 25px;
  opacity: 0;
}

.container .button-box button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #333;
  color: #f7f7f7;
  border: none;
  transition: background-color 500ms ease-in-out;
  letter-spacing: 0.75px;
  cursor: pointer;
}

.container .button-box button:hover {
  color: #b6b6b6;
}

.container .button-box button:focus {
  outline: 0;
}

.container .button-box .fa {
  text-decoration: none;
  margin-top: 7px;
  color: #b6b6b6;
  transition: color 200ms ease-in-out;
}

.container .button-box .fa:hover {
  color: #4099ff;
}

.sig {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-top: 50px;
}

.sig .fa-heart {
  color: #ff4d4d;
  margin-right: 3px;
}

.sig .name {
  color: #3385ff;
  font-size: 16px;
  text-decoration: none;
}
