/* IMPORTS */
@import 'https://fonts.googleapis.com/css?family=Oxygen:400,700';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i';

/* RESET */
*, *:before, *:after {
  margin: 0;
  padding: 0;
}

/* BASE */
body {
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

form {
  background-color: #f2f2f2;
  box-sizing: border-box;
  max-width: 400px;
  margin: 50px auto;
  padding: 40px 0;
  transition: transform 300ms ease-out;
}

form h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  font-family: "Oxygen", serif;
  letter-spacing: 1px;
}

form label, form input, form button {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 80%;
  font-family: "Source Sans Pro", serif;
}

form input {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  color: #a4a4a4;
  font-weight: 300;
  box-sizing: border-box;
  border: 2px solid #c6c6c6;
  font-size: 20px;
}

form input:focus {
  outline: none;
}

form label {
  margin-bottom: 5px;
  color: #c6c6c6;
}

form button {
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #644185;
  color: #f2f2f2;
  cursor: pointer;
  margin-top: 40px;
}

#demo {
  padding: 20px;
  transition: transform 300ms ease-in;
}

#demo .channel {
  background-color: #f2f2f2;
  max-width: 600px;
  margin: 0 auto 10px;
  padding: 20px;
}

#demo .channel:last-child {
  margin-bottom: 0;
}

#demo .channel img {
  height: 50px;
  float: right;
  border-radius: 50%;
}

#demo .channel h2 {
  float: left;
  font-size: 28px;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  letter-spacing: 0.75px;
}

#demo .channel .game {
  text-align: left;
  clear: left;
  margin-left: 13px;
  font-style: italic;
}

#demo .channel .game a {
  color: #644185;
}

#demo .channel .status {
  clear: left;
  margin-top: 30px;
  margin-left: 13px;
}

.close-button {
  position: relative;
  float: right;
  top: -25px;
  right: 10%;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.close-button:before, .close-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 20px;
  background-color: black;
  transform: rotate(-45deg);
  margin-top: -1px;
  margin-left: -10px;
}

.close-button:after {
  transform: rotate(45deg);
}

/* HELPER CLASSES */
.online:before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #3ac569;
  vertical-align: middle;
  margin-right: 5px;
}

.offline:before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #f1404b;
  vertical-align: middle;
  margin-right: 5px;
}
